{% extends 'base.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/aboutcss.css' %}" >
  <title>About Us</title>
{% endblock %}

{% block header %}
  {%include 'components/header.html' %}
{% endblock %}


{% block body %}
<div class="aboutus">

     <div class="headerabout">
         <div class="hdrinfo">
             <h1 class="hdr-h1">About Us</h1>
             <p class="hdr-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender</p>
         </div>
         <div class="hdr-img">
             <img style="width:100%;object-fit: cover" src="{% static 'images/002.png' %}">
         </div>

     </div>




     <div class="all-hold row mx-0">
         <div style="display: flex;justify-content: center;" class="col-lg-2 col-md-3 col-sm-4">
             <div class="dev-holder" style="">
                 <img class="dev-img" src="{% static 'dp/p1.jpg' %}" style="">
                 <div class="dev-mask" style="">
                     <div style="position: absolute;top: 10px;" class="dev-buttons">
                         <p class="dev-buttons-text">Naidu</p>
                     </div>
                     <p class="dev-info">This is loreum ipusm and getnger and the loreum ipsum of this datat tplesa hep me in this caes we are soo helpless lnow</p>
                     <div class="dev-buttons" style="position: absolute;bottom: 10px;margin-top:0px;background-color: rgba(0,0,250, 0.6)">
                         <p class="dev-buttons-text">Resume</p>
                     </div>
                 </div>
             </div>
         </div>

         <div style="display: flex;justify-content: center;" class="col-lg-2 col-md-3 col-sm-4">
             <div class="dev-holder" style="">
                 <img class="dev-img" src="{% static 'dp/p2.jpg' %}" style="">
                 <div class="dev-mask" style="">
                     <div style="position: absolute;top: 10px;" class="dev-buttons">
                         <p class="dev-buttons-text">Pradeep</p>
                     </div>
                     <p class="dev-info">This is loreum ipusm and getnger and the loreum ipsum of this datat tplesa hep me in this caes we are soo helpless lnow</p>
                     <div class="dev-buttons" style="position: absolute;bottom: 10px;margin-top:0px;background-color: rgba(0,0,250, 0.6)">
                         <p class="dev-buttons-text">Resume</p>
                     </div>
                 </div>
             </div>
         </div>
         <div style="display: flex;justify-content: center;" class="col-lg-2 col-md-3 col-sm-4">
             <div class="dev-holder" style="">
                 <img class="dev-img" src="{% static 'dp/p3.jpg' %}" style="">
                 <div class="dev-mask" style="">
                     <div style="position: absolute;top: 10px;" class="dev-buttons">
                         <p class="dev-buttons-text">Sreenadh</p>
                     </div>
                     <p class="dev-info">This is loreum ipusm and getnger and the loreum ipsum of this datat tplesa hep me in this caes we are soo helpless lnow</p>
                     <div class="dev-buttons" style="position: absolute;bottom: 10px;margin-top:0px;background-color: rgba(0,0,250, 0.6)">
                         <p class="dev-buttons-text">Resume</p>
                     </div>
                 </div>
             </div>
         </div>
         <div style="display: flex;justify-content: center;" class="col-lg-2 col-md-3 col-sm-4">
             <div class="dev-holder" style="">
                 <img class="dev-img" src="{% static 'dp/p4.jpg' %}" style="">
                 <div class="dev-mask" style="">
                     <div style="position: absolute;top: 10px;" class="dev-buttons">
                         <p class="dev-buttons-text">Naveen</p>
                     </div>
                     <p class="dev-info">This is loreum ipusm and getnger and the loreum ipsum of this datat tplesa hep me in this caes we are soo helpless lnow</p>
                     <div class="dev-buttons" style="position: absolute;bottom: 10px;margin-top:0px;background-color: rgba(0,0,250, 0.6)">
                         <p class="dev-buttons-text">Resume</p>
                     </div>
                 </div>
             </div>
         </div>
         <div style="display: flex;justify-content: center;" class="col-lg-2 col-md-3 col-sm-4">
             <div class="dev-holder" style="">
                 <img class="dev-img" src="{% static 'dp/p7.jpg' %}" style="">
                 <div class="dev-mask" style="">
                     <div style="position: absolute;top: 10px;" class="dev-buttons">
                         <p class="dev-buttons-text">Raju</p>
                     </div>
                     <p class="dev-info">This is loreum ipusm and getnger and the loreum ipsum of this datat tplesa hep me in this caes we are soo helpless lnow</p>
                     <div class="dev-buttons" style="position: absolute;bottom: 10px;margin-top:0px;background-color: rgba(0,0,250, 0.6)">
                         <p class="dev-buttons-text">Resume</p>
                     </div>
                 </div>
             </div>
         </div>
         <div style="display: flex;justify-content: center;" class="col-lg-2 col-md-3 col-sm-4">
             <div class="dev-holder" style="">
                 <img class="dev-img" src="{% static 'dp/p6.jpg' %}" style="">
                 <div class="dev-mask" style="">
                     <div style="position: absolute;top: 10px;" class="dev-buttons">
                         <p class="dev-buttons-text">Ravi</p>
                     </div>
                     <p class="dev-info">This is loreum ipusm and getnger and the loreum ipsum of this datat tplesa hep me in this caes we are soo helpless lnow</p>
                     <div class="dev-buttons" style="position: absolute;bottom: 10px;margin-top:0px;background-color: rgba(0,0,250, 0.6)">
                         <p class="dev-buttons-text">Resume</p>
                     </div>
                 </div>
             </div>
         </div>





     </div>




 </div>

{% endblock %}
