{% extends 'base.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/authcss.css' %}">
  <title>Signup</title>
{% endblock %}

{% block header %}
  {%include 'components/header.html' %}
{% endblock %}


{% block body %}
<div class="page page1">
       <div class="page1-text">
           <div class="mainHead">
               <h2>CABINET.</h2>
               <img class="mainIcon" src="{% static 'images/github.png' %}">
               <img class="mainIcon" src="{% static 'images/appstore.png' %}">
           </div>
           <h4>SignUp ..</h4>
           <p>Sign up for Your personal project showcase. We will help you to showcase your masterpiece without your effort in designing and time. </p>
           {% if error %}
           <div class="error-mask">
                 <p>{{error}}</p>
           </div>
           {% endif %}
           <form method="POST" action="{% url 'account:signup' %}">
             {% csrf_token %}
               <input type="text" name="username" placeholder="EMAIL">
               <input type="text"  name="pick_name" placeholder="USERNAME">
               <input type="password" name="password" placeholder="PASSWORD">
               <input type="submit" type="button" class="prevbutton" value="SIGNUP">
           </form>

       </div>



   </div>

{% endblock %}
